/* reset de margins y paddings de todos */
*{
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 65px;
    background-image: url(../assets/img/espuma.jpg);
}
nav ul li{
    margin-left: 20px;
}
.colorEnlace{
    color:rgba(9, 2, 2, 0.892);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
    font-size: 330%;
    text-align-last: center;
    padding: 30px 20px;
    color: rgb(7, 3, 0);
}
/* Aplica estilos para la carga de Productos en el DOM  */
#contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem;
    padding: 40px 30px;
    justify-items: center;
}
.beer-card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px 100px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.beer-card img {
  max-width:100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.beer-card:hover {
  transform: scale(1.1);
}
.beer-card h2 {
  margin-bottom: 5px;
  font-size: 1.6em;
  color:#0b0303;
}
.beer-card p {
  margin-bottom: 10px;
  color: black;
  padding: 5px;
  font-size: 1.3em;
}
.beer-card button {
  background-color:#39c427;
  color: rgba(6, 1, 1, 0.901);
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}
.beer-card button:hover {
  background-color: #0e8526;
}

/* estilos para todo el sector de carrito de compras */
#carrito-button {
    background-color: rgba(19, 18, 18, 0.766);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}
#carrito-button:hover {
    background-color: black;
}
.carrito-lista{
    list-style: none; 
    padding: 0;
}
.carrito-elementos{
   display: flex; 
   justify-content: space-between; 
   align-items: center; 
   margin-bottom: 10px; 
   border-bottom: 1px dotted #ccc;
   padding-bottom: 10px;
   background-color: rgba(0, 0, 0, 0.971);
   color: #ccc;
}
.eliminar-de-carrito{
    background-color: #dc3545;
    color: white; 
    border: none; 
    border-radius: 3px;
    padding: 4px 8px; 
    cursor: pointer; 
    margin-left: 8px;
}
.total-carrito{
    font-weight: bold; 
    font-size: 1.5rem; 
    text-align: right; 
    margin-top: 20px;
    padding: 10px;
    color: black;
}
.fecha-carrito{
    font-style:italic; 
    font-size: large; 
    text-align: center; 
    color: rgba(0, 0, 0, 0.874);
}
.img-carrito{
    width: 80px;
    padding: 5px;
    align-items: center;
}
.item-carrito{
    font-size:xx-large;
}
.textCarrito{
    color: #0b0303;
    font-size: larger;
    text-decoration:underline;
    font-style: italic;
}

/* pie de pagina */
footer{
  background-color: black;
  color: aliceblue;
  padding: 40px;
}

/* para el boton de modo oscuro en Body*/
#btnModoOscuro{
   position: absolute;
   right: 6%;
}
body {
    margin: 0;
    background-color: aliceblue;
    color: black;
    transition: background-color 1.2s ease, color 1.2s ease;
}
button {
    padding: 5px 10px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #e3eaefe1;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dfdfef;
}
body.dark-mode {
    background-color:black;
    color: #0b0c0d; 
}

body.dark-mode h1{
  color:rgb(244, 241, 241);
}
body.dark-mode h2 {
    color: #080808; 
}
body.dark-mode button {
    background-color:#39c427;
}

/* estilos para la seccion de contacto */
.infocontacto {
  text-align-last: center;
  text-decoration: underline;
  font-size: 250%;
  color: rgb(2, 2, 8);
  padding: 30px 20px;
}
.formulariocontacto {
  padding: 20px 30px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  justify-content: center;
  border-radius: 10px;
  background-color:rgb(165, 164, 164);
}
.btn {
  background-color: rgba(11, 11, 230, 0.975);
  color: aliceblue;
}
.textformulario {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color:black;
}
p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 150%;
  padding: 5px 50px;
}
/* para buscador */
.buscador input{
  margin: 20px;
  padding: 10px;
  width: 40%;
}
.buscador {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}


@media(max-width:650px){
#contenedor-productos {
        grid-template-columns: 1fr;
        margin:10px;
}
.buscador input{
  width:80%;
}
}